<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolsa Technologies.home</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="container">

        <header>
            <nav>
                <!--Navigation bar div button establishments for CSS-->
                <div class="HomeNavButton">
                    <a href="/index">
                        <img class="HomeButton" src="/static/Images/Untitled30_20250327010408.png" alt="Home Icon Button"></a></div>

                <div class="BookingsNavButton">
                    <a class="BookingsNavLinkText" href="/Bookings_ProductSelection">Bookings</a></div>

                <div class="EducationResourcesNavButton">
                    <a class="ERNavLinkText" href="/EducationalResourcesP1">Educational Resources</a></div>

                <div class="CarbFootprintNavButton">
                    <a class="CarbFootprintNavLinkText" href="/CarbFootprint">Carbon Footprint calculator</a></div>

                <div class="EnergyTrackerNavButton">
                    <a class="EnergyTrackerNavLinkText" href="/EnergyTracker">Energy usage tracker</a></div>
                                

                <!--Sign-up/Log-in & User profile navigation bar buttons for CSS-->
                <div class="Log-in-Sign-upNavButton">
                        <a class="Log_InNavLinkText" href="/Log_in">Log-In</a></div>
                <div class="UserProfileNavButton">
                        <a href="/User_profile">
                            <img class="ProfileIcon" src="/static/Images/Person_Icon.png" alt="User Profile Button">
                        </a></div>
                                    
            </nav>


            <div class="accent1"></div>
            <div class="accent2"></div>
        </header>

        <main>
            <P> This page is under construction</P>
        </main>

</body>