<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <!--Navigation bar div button establishments for CSS-->
                <div class="HomeNavButton">
                    <a href="/index">
                        <img class="HomeButton" src="/static/Images/Untitled30_20250327010408.png" alt="Home Icon Button"></a></div>

                <div class="BookingsNavButton">
                    <a class="BookingsNavLinkText" href="/Bookings_ProductSelection">Bookings</a></div>

                <div class="EducationResourcesNavButton">
                    <a class="ERNavLinkText" href="/EducationalResourcesP1">Educational Resources</a></div>

                <div class="CarbFootprintNavButton">
                    <a class="CarbFootprintNavLinkText" href="/CarbFootprint">Carbon Footprint calculator</a></div>

                <div class="EnergyTrackerNavButton">
                    <a class="EnergyTrackerNavLinkText" href="/EnergyTracker">Energy usage tracker</a></div>
                                

                <!--Sign-up/Log-in & User profile navigation bar buttons for CSS-->
                <div class="Log-in-Sign-upNavButton">
                        <a class="Log_InNavLinkText" href="/Log_in">Log-In</a></div>
                <div class="UserProfileNavButton">
                        <a href="/User_profile">
                            <img class="ProfileIcon" src="/static/Images/Person_Icon.png" alt="User Profile Button">
                        </a></div>
                                    
            </nav>
            


            <div class="accent1"></div>
            <div class="accent2"></div>

            <!--ER Specific Navigation bar & buttons for moving between different information pages-->
            <div class="ERNavBar">
                
                <div class="ER1">
                    <a class="Er1_Link" href="/EducationalResourcesP1">What is green energy?</a>
                </div>
                <div class="ER2">
                    <a class="Er2_Link" href="/EducationalResourcesP2">What causes emissions?</a>
                </div>
                <div class="ER3">
                    <a class="Er3_Link" href="/EducationalResourcesP3">Why green energy?</a>
                </div>
                <div class="ER4">
                    <a class="Er4_Link" href="/EducationalResourcesP4">How feasible is a green energy switch?</a>
                </div>
                <div class="ER5">
                    <a class="Er5_Link" href="/EducationalResourcesP5">How can I help reduce my carbon emissions?</a>
                </div>
                <div class="ER6">
                    <a class="Er6_Link" href="/EducationalResourcesP6">Renewable products</a>
                </div>
                <div class="Accent5"></div>
                

                
            </div>

           
            
        </header>
        
        <main>
            <div class="EducationalResourcesMainDiv">

                <div class="InfoBox1">
                    <p class="InfoBoxText1">PlaceHolder</p>
                </div>
                <div class="InfoBox2">
                    <p class="InfoBoxText2">PlaceHolder</p>
                </div>
                <div class="ERImageBox">
                    <img src="#" alt="#">
                </div>
            </div>

         
        </main>

        <footer>
            <div class="BookingsFooter">
                <div class="accent3"></div>
                <div class="accent4"></div>
            </div>
        </footer>
        </header>
    
</body>
</html>