<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <div class="container">

        <header>
            <nav>
                <!--Navigation bar div button establishments for CSS-->
                <div class="HomeNavButton">
                    <a href="/index">
                        <img class="HomeButton" src="/static/Images/Untitled30_20250327010408.png" alt="Home Icon Button"></a></div>

                <div class="BookingsNavButton">
                    <a class="BookingsNavLinkText" href="/Bookings_ProductSelection">Bookings</a></div>

                <div class="EducationResourcesNavButton">
                    <a class="ERNavLinkText" href="/EducationalResourcesP1">Educational Resources</a></div>

                <div class="CarbFootprintNavButton">
                    <a class="CarbFootprintNavLinkText" href="/CarbFootprint">Carbon Footprint calculator</a></div>

                <div class="EnergyTrackerNavButton">
                    <a class="EnergyTrackerNavLinkText" href="/EnergyTracker">Energy usage tracker</a></div>
                                

                <!--Sign-up/Log-in & User profile navigation bar buttons for CSS-->
                <div class="Log-in-Sign-upNavButton">
                        <a class="Log_InNavLinkText" href="/Log_in">Log-In</a></div>
                <div class="UserProfileNavButton">
                        <a href="/User_profile">
                            <img class="ProfileIcon" src="/static/Images/Person_Icon.png" alt="User Profile Button">
                        </a></div>
                                    
            </nav>

            <div class="accent1"></div>
            <div class="accent2"></div>
        </header>

        <main>
            <div class="Sign-UpMainDivBox">
                <div class="Sign-UpWhiteBoxBG">
                    <div class="Sign-UpTitleBox">
                        <p class="Sign-UpTitleBoxText">Sign-Up here</p>
                    </div>
                    
                    <p class="Sign-Up_Username_OverheadText">Username</p>
                    <p class="Sign-Up_Email_OverheadText">Email</p>
                    <p class="Sign-Up_Password_OverheadText">Password</p>

                    <form class="Sign-Up_Form", method='POST'>
                        <input class="Sign-Up_UserFormInput"
                        type="Username"
                        id="Username"
                        name="Username"
                        placeholder="Username">
                        <br>

                        <input class="Sign-Up_EmailFormInput"
                        type="Email"
                        id="Email"
                        name="Email"
                        placeholder="Email">
                        <br>

                        <input class="Sign-Up_PassFormInput"
                        type="Password"
                        id="Password"
                        name="Password"
                        placeholder="Password">
                        <br>
                        <input class="Sign-Up_PassFormInput2"
                        type="Repeat_Password"
                        id="Repeat_Password"
                        name="Repeat_Password"
                        placeholder="Repeat Password">
                        <br>

                        <button class="Sign-Up_Button" type="submit" value="submit sign-up">
                            <p class="Sign-Up_ButtonText">Sign-Up</p>
                        </button>

                        <a class="Log-In-Return_option" href="/Log_in">Or return to Log-in</a>
                    </form>
                
                </div>
                <img class="Log_In_BG1" src="/static/Images/SignUpBG1.jpg" alt="Hydro Powered damm background image">
            </div>
        </main>
    
        <footer>

        </footer>
    </div>
</body>
</html>